SCORING_URL="https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/3941de69-dc74-478c-8d0e-1183d2621f3a/published_models/424bbf97-f44b-413a-96e3-f1e7f6a66fdf/deployments/66705c3e-b305-453d-a153-d2e8dfa23af4/online"
WML_URL="https://eu-gb.ml.cloud.ibm.com"
WML_USERNAME="e3680a65-af6a-48cd-97b8-65bf7ffbbb4e"
WML_PASSWORD="b19984dd-398f-4aac-a0fc-90bf1954ed36"
MAP_APIKEY="pk.eyJ1IjoiY2F0aGFsLWtlbm5lYWxseSIsImEiOiJjanJ4bnE5MDgwa2o3NDRvY2E3aHJ5ZmQ2In0.D4WhDCGxN15O4UNat9M8lQ"
